* {
  margin: 0;
  padding: 0;
}

body {
  margin: 30px;
  width: 300px;
  border-radius: 10px;
  background: #996;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border: 1px solid #fff;
}

html {
  background: #588;
}
